@font-face {

	font-family:capsula;
	src:url(../font/Capsuula.ttf) format("truetype") ;
}

@font-face {

	font-family:dejavu;
	src:url(../font/DejaVuSans.ttf) format("truetype") ;
}


@font-face {

	font-family:hattori;
	src:url(../font/Hattori_Hanzo.otf) format("truetype") ;
}

@font-face {

	font-family:modernpics;
	src:url(../font/modernpics.otf) format("truetype") ;
}

@font-face {

	font-family:opensans;
	src:url(../font/OpenSans-CondBold.ttf) format("truetype") ;
}

@font-face {

	font-family:overlock;
	src:url(../font/Overlock-Regular-OTF.otf) format("truetype") ;
}


@font-face {

	font-family:ubuntu;
	src:url(../font/UbuntuTitling-Bold.ttf) format("truetype") ;
}

@font-face {

	font-family:Learningcurve;
	src:url(../font/Learningcurve.otf) format("truetype") ;
}

@font-face {

	font-family:freebooterscript;
	src:url(../font/freebooterscript.ttf) format("truetype") ;
}
